// ====================== DrukWide ======================
@font-face {
  font-family: 'DrukWide';
  src: url('/static/fonts/DrukWide-Medium.woff2') format('openType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukWide';
  src: url('/static/fonts/DrukWide-Bold.woff2') format('openType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ====================== Favorit ======================
@font-face {
  font-family: 'Favorit';
  src: url('/static/fonts/Favorit-LightMono.woff2') format('openType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('/static/fonts/Favorit-Regular.woff2') format('openType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// ====================== FavoritStd ======================
@font-face {
  font-family: 'FavoritStd';
  src: url('/static/fonts/FavoritStd-Book.woff2') format('openType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FavoritStd';
  src: url('/static/fonts/FavoritStd-Expanded.woff2') format('openType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// ====================== FT88 ======================
@font-face {
  font-family: 'FT88';
  src: url('/static/fonts/FT88-Regular.woff2') format('openType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  src: url('/static/fonts/FT88-Expanded.woff2') format('openType');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// ====================== NTDapper ======================
@font-face {
  font-family: 'NTDapper';
  src: url('/static/fonts/NTDapper-ExtraLight.otf') format('openType');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTDapper';
  src: url('/static/fonts/NTDapper-Regular.otf') format('openType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTDapper';
  src: url('/static/fonts/NTDapper-Medium.otf') format('openType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTDapper';
  src: url('/static/fonts/NTDapper-Bold.otf') format('openType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NTDapper';
  src: url('/static/fonts/NTDapper-Black.otf') format('openType');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
