@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.woff2') format('openType');
  font-weight: normal;
  font-style: normal;
}

.input {
  transition: all 0.3s;
}

.password {
  @apply select-none indent-0.5 tracking-[1em];
  font-family: 'fontello';
  -webkit-text-stroke-width: 0.3em;

  &::-ms-reveal {
    @apply hidden;
  }

  &:-webkit-autofill-strong-password {
    @apply indent-0 font-sans tracking-normal;
    -webkit-text-stroke-width: 0;
  }
}